/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        p: p {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp O &kp N &kp E &kp S &kp L &kp I &kp K &kp E &kp I &kp R &kp O &kp N &kp B &kp L &kp O &kp O &kp D &kp L &kp I &kp K &kp E &kp M &kp E &kp R &kp C &kp U &kp R &kp Y>;
            label = "P";
            wait-ms = <0>;
        };

        nucor: nucor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp Y &kp A &kp N &kp DOT &kp G &kp A &kp U &kp V &kp I &kp N &kp TAB &kp LS(R) &kp Y &kp A &kp L &kp Y &kp S &kp S &kp AT &kp N1 &kp N3 &kp ENTER>;
            label = "NUCOR";
        };

        nemail: nemail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp Y &kp A &kp N &kp DOT &kp G &kp A &kp U &kp V &kp I &kp N &kp AT &kp N &kp U &kp C &kp O &kp R &kp DOT &kp C &kp O &kp M>;
            label = "NEMAIL";
        };

        gemail: gemail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp Y &kp A &kp N &kp DOT &kp E &kp DOT &kp G &kp A &kp U &kp V &kp I &kp N &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "GEMAIL";
        };
    };

    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57>;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 54 55 56 57 50 51 52 53>;
        };

        TLB: TLB {
            compatible = "zmk,behavior-hold-tap";
            label = "TLB";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <50 51 52 53 54 55 56 57>;
        };
    };

    combos {
        compatible = "zmk,combos";

        p_combo {
            bindings = <&p>;
            key-positions = <53 37>;
        };

        Nucor {
            bindings = <&nucor>;
            key-positions = <53 41>;
        };

        nemail {
            bindings = <&nemail>;
            key-positions = <52 41>;
        };

        gemail {
            bindings = <&gemail>;
            key-positions = <40 52>;
        };

        delete {
            bindings = <&kp BACKSPACE>;
            key-positions = <53 28>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4        &kp N5                                            &kp N6         &kp N7             &kp N8        &kp N9   &kp N0    &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp E     &kp R         &kp T                                             &kp Y          &kp U              &kp I         &kp O    &kp P     &kp MINUS
&kp LCTRL  &kp A   &kp S   &kp D     &kp F         &HML PERCENT G                                    &kp H          &kp J              &kp K         &kp L    &kp SEMI  &kp SQT
&kp CAPS   &kp Z   &kp X   &kp C     &kp V         &kp B           &kp K_PLAY_PAUSE    &kp C_NEXT    &kp N          &kp M              &kp COMMA     &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LALT  &kp LEFT_ALT  &kp LEFT_SHIFT  &TLB 1 SPACE        &TLB 2 ENTER  &kp BACKSPACE  &kp RIGHT_CONTROL  &kp LEFT_GUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans      &trans     &trans           &trans    &trans    &trans
&kp F1      &kp F2        &kp F3        &kp UP_ARROW  &kp F5        &kp F6                          &kp F7      &kp F8     &kp F9           &kp F10   &kp F11   &kp F12
&kp GRAVE   &kp EXCL      &kp LEFT      &kp DOWN      &kp RIGHT     &kp PRCNT                       &kp CARET   &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp TILDE
&trans      &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans      &kp MINUS  &kp KP_PLUS      &kp LBRC  &kp RBRC  &kp PIPE
                                        &trans        &trans        &trans        &trans    &trans  &kp DELETE  &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&trans     &trans  &trans  &trans   &trans   &trans                     &trans           &kp K_CALCULATOR  &kp KP_DIVIDE    &kp KP_MULTIPLY  &kp BACKSPACE    &trans
&kp GRAVE  &kp N1  &kp N2  &kp N3   &kp N4   &kp N5                     &trans           &kp KP_NUMBER_7   &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_SUBTRACT  &trans
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                     &trans           &kp KP_NUMBER_4   &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS      &trans
&kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &trans           &kp KP_NUMBER_1   &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_ENTER     &trans
                           &trans   &trans   &trans   &trans    &trans  &kp KP_NUMBER_0  &kp KP_NUMBER_0   &kp KP_DOT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
